@import '../../assets/styles/Variables';

.home-container {
  padding : 2vw;
  height: calc(100%-80px); 
  margin-left: auto;
  margin-Right : auto;

  @media (min-width: 700px) {
    width: 70vw;
  }
}

.page-container {
  padding: 50px;
  font-weight: map-get($map: $font-weights, $key: medium);
  color: whitesmoke;

  h1 {
    margin-bottom: 10px;
  }
}