@import '../../assets/styles/Variables';

.hello-container {
  width: 100vw;
  height: calc(100vh - 80px);
  background: white;
  // position: relative;
  margin: 0px;
  padding: 0px;
  // z-index: 5;
  // overflow: hidden; 

  .title {
    // position: relative;
    // top: 10%;
    text-align: center;
    font-weight: map-get($map: $font-weights, $key: medium);
    padding : 0px;
    font-size: 40vw;

    @media (min-width: 1280px) {
      font-size: 26em;
    }

    @media (max-width: 640px) {
      padding-top: calc(20px + 3vh);
      height: 80vw;
      line-height: 80vw;
      font-size: 50vw;
    }
  }

  a.button1 {
    margin: 0 auto;
    margin-top: calc(50px + 2vh);
    margin-bottom: 5vh;
    width: 110px;
    display: block;
    padding: 0.35em 0.5em;
    border: 0.1em solid black;
    // margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 5;
    
    &:hover{
      color: white;
      background-color: black;
    }

    @media all and (max-width:30em) {
       display: block;
       margin: 0.4em auto;
    }

    @media (min-width: 1280px) {
      margin-top: calc(35px);
    }
  }
}


.categories {
  z-index: 3;
  padding : 0px 2vw;
  height: calc(100vh - 100px);
  margin-left: auto;
  margin-Right : auto;

  @media (min-width: 700px) {
    padding-top: 10px;
    width: 80vw;
  }
}

.page-container {
  background-color: white;
  padding: 50px;
  font-weight: map-get($map: $font-weights, $key: medium);
  color: 	black;
  height: calc(100vh - 180px);

  h1 {
    margin-bottom: 30px;
    font-size: calc(20px + 2vw);
  }

  p{
    font-size: calc(15px + 2vw);
  }

  @media (max-width: 700px) {
    padding: 50px 20px;
  }
}

.about-container {
  background-color: white;
  // padding: 20px 0px;
  font-weight: map-get($map: $font-weights, $key: medium);
  color: 	black;
  height: calc(100vh - 80px);
  width: 100vw;
  overflow:hidden;
  display: block;

  .videoTag {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute; 
    overflow: hidden;
    top: -2%;

    @media (max-width: 360px) {
      top: -30vw;
    }

    @media (min-width: 361px) and (max-width: 640px){
      top: calc(-5em - 8vh);
    }

    @media (min-width: 641px) and (max-width: 1024px){
      top: -35vw;
    }

    @media (min-width: 1025px) and (max-width: 1280px){
      top: -15vw;
    }

    @media (min-width: 1281px) {
      top: -1%;
    }
  }

  #joa {
    text-align: center;
    padding : 0px;
    font-size: 40vw;

    @media (min-width: 1280px) {
      font-size: 26em;
    }

    @media (max-width: 640px) {
      padding-top: calc(20px + 3vh);
      padding-bottom: 20px;
    }
  } 

  h1 {
    margin-bottom: 10px;
    justify-content: start;
  }
}

#meaning {
  font-size: calc(15px + 2vw);
  text-align: center;
  font-weight: map-get($map: $font-weights, $key: medium);

  @media (max-width: 640px) {
    padding: 0px 20px;
  }
}