@import '../../assets/styles/variables';

.nav-container {
  // position: fixed;
  // top: 0;
  // z-index: 1;
  // position: nsticky; top: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;

  .logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 60px;
    }
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      font-weight: map-get($map: $font-weights, $key: light);
      font-family: 'Source Sans Pro', sans-serif;
      color: 	#02457c;
      font-size: 20px;
      text-transform: uppercase;
      display: block;
      height: 60px;
      line-height: 60px;
      cursor: pointer;
      padding: 0 10px;

      &:hover {
        color: white;
        background-color: #d56f75;
      }
    }

    .close {
      display: none;
      text-align: right;
      padding: 10px;

      span {
        font-size: 40px;
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
      }
    }

    .icon-bar {
      padding-top: 20px;
      width: 50px;
      height: 60px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      i {
        color: white;
        background-color: #ffffff;
        height: 2px;
      }

      .fa-bars:before {
        padding: 10px;
      }
    }
  }
}

@media (max-width: 650px) {
  .nav-container {
    justify-content: space-between;

    .logo {
      flex: 1;
    }

    .navbar {
      width: 50vw;
      flex: 0;

      ul {
        flex-wrap: nowrap;
        position: fixed;
        z-index: 1;
        right: 100%;
        flex-direction: column;
        background: #ffffff;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: right 0.3s;

        li {
          &:hover {
            background-color: #e9d8c7;
          }
        }

        a {
          text-align: center;
          padding: 10px;
          font-size: 16px;
          height: auto;
          line-height: normal;
          color: white;

          &:hover {
            color: white;
            background-color: #e9d8c7;
          }
        }

        .close {
          color: white;
          display: block;
        }
      }

      .icon-bar {
        display: flex;
        margin: auto;
      }

      ._Menus-show {
        background: #d56f75;
        left: 0;
      }
    }
  }
}
