@import '../assets/styles/variables';


//Events

.event-category-container {
    height : 100vh;
    background : #fbab9d;
}

.event-category-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    
}

// Places

.categories-container {
    margin-top: calc(50px + 2vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width : 70vw;
    height : 65vh;
    max-width: 1100px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    @media (max-width: 1280px) {
        width : 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 640px) {
        width : 95vw;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
    }
}

a {
    text-decoration: none !important;
}

.categoryItem {
    position: relative;
    text-align: center;
    text-align: justify;
    margin: 2vw;
    background-color: whitesmoke;
    border-radius: 10px;
    height: 70%;
    max-width: 600px;
    // border: solid #00C853;

    @media (min-width: 1024px) {
        min-width: 380px;
        min-height: 280px;
    }

    @media (max-width: 1024px) {
        height: 90%; 
        min-height: 180px;
    }

    img {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 1;
        width: calc(100% - 20px);
        height: 80%; 
        border-radius: 20px;

        @media (max-width: 500px) {
            height: 60%; 
        }
    }

    h1 {
        text-decoration: none;
        color: black;
        // position: absolute;
        // top: -800%;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        font-size: 25px; 
        font-weight: map-get($map: $font-weights, $key: light);
    }
}

.category-container {
    display: block;
    // border: solid #69F0AE;
}

.map-container {
    // background : white;
    // padding: 10px;
    max-height: 592px;
    max-width: 992px;
    width : 80vw;
    height: 60vh;
    margin-top : 50px;
    display : block;

    div {
        margin-left : auto;
        margin-right : auto;

        @media (max-width: 1024px) {
            margin: 5px;
            margin-left : auto;
            margin-right : auto;
        }
    }

    @media (max-width: 1024px) {
        width: 90vw;
        height: 60vh;
        min-height: 384px;
        margin: 5px;
        display : block;
    }
}

.infoBtn {
    width: 40px;
    display: block;
    padding: 0.35em 0.35em;
    border: 0.1em solid black;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-align: center;
    margin: 0px;

    &:hover{
        color: white;
        background-color: yellowgreen;
    }
}

#infowindow {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.category-grid {
    display: grid;
    padding: 20px 10px;
    grid-template-columns: 1fr 1fr;
    max-width: 992px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // background: white;


    @media (min-width: 1300px) {
        padding-top: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 90vw;
    }


    @media (max-width: 640px) {
        padding : 0px;
        margin-top: 1rem;
        // grid-template-columns: 1fr;
        // max-width: 90vw;
    }

    .placeItem {
        position: relative;
        margin: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        @media (max-width: 640px) {
            background-color: transparent;
            box-shadow: none;
            // margin: 5px;
        }

        img {
            padding: 10px;
            opacity: 1;
            width: calc(100% - 20px);
            height: 30vh; 
            flex: 1;
            // resize: contain;
            border : 50px;
            border-radius: 15px;

            @media (max-width: 640px) {
                padding : 0px;
                width: 100%;
                height: 20vh;
                border-radius: 10px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
            
            }
        }

        p {
            // display: none;
            position: absolute;
            padding: 1rem;
            font-weight: map-get($map: $font-weights, $key: medium);
            font-family: 'Source Sans Pro', sans-serif;
            font-size: calc(15px + 2vw);
            color : white;
            top: 5%;
            left: 5%;
            text-shadow: 1px 1px 2px grey;

            @media (max-width: 640px) {
                top: 5%;
                left: 2%;
                font-size: 20px;
            }
        }

        &:hover {
            img {
              opacity:  0.3;
            }

            p {
                display: flex;
                color : black;
            }
        } 
    }
}

.event-category-grid {
    @media (max-width: 500px) {
        // padding-top: 30px;
        margin-top: 0px;
        grid-template-columns: 1fr;
        max-width: 90vw;
    }
}

// .event-name {
//     @media (max-width: 500px) {
//         font-size: 30px;
//     }
// }

.detail-container {
    display: block;
    margin-top: 50px;
    width : 50vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    #name {
        text-align: center;
        font-weight: map-get($map: $font-weights, $key: bold);
    }

    i {
        margin-right: 10px;
        align-self: center;
    }

    .share {
        bottom: 20px;
    }

    button {
        margin: 0px 5px;
        width: calc(30px + 0.8vw);
    }

    svg {
        top: 20px;
        width: calc(30px + 0.8vw);
        height: auto;
    }

    @media (max-width: 1024px) {
        width : 80vw;
        height: 100vh;
        display: block;
        overflow: auto;
        word-wrap: break-word;
    }

    .slide-container {
        width: 100%;
    }

    .details-info {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    img {
        width : 100%;
        height : 40vh;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    p {
        font-weight: map-get($map: $font-weights, $key: medium);
        color: black;
        margin: 2vw;
        font-size: calc(15px + 0.8vw);
        justify-content: center;

        @media (max-width: 640px) {
            font-size: 15px;
        }

        i {
            display : inline;
        }
    }
}

.each-slide img {
        width : 100%;
        height : 40vh;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
}

.detail-map-container div{
    width : 50vw;
    height: 40vh;

    @media (max-width: 1024px) {
        width : 80vw;
        height: 40vh;
    }
}