@import './assets/styles/variables';

* {
  margin: 0;
  padding: 0;

  #app {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
  }
}

html,
body {
  background: #fdc5b0;
  //#e7a898; #fbab9d;
  font-weight: map-get($map: $font-weights, $key: bold);
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  width:100vw;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height : inherit;
  min-height: 100% !important;
  // background: whitesmoke;
}

.nav {
  height: 80px;
  z-index: 99;
}