@import './assets/styles/variables';

* {
  margin: 0;
  padding: 0;

  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
}

html,
body {
  background: $primary-color;
  font-weight: map-get($map: $font-weights, $key: bold);
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  width: 100%;
  min-height: 100vh;
}